/** @format */

body {
  background: #ebd5d5;
}

h1 {
  font-family: "Georama", sans-serif;
  font-weight: bold;
  font-size: 96px;
}

h2,
h3 {
  font-family: "Martel", serif;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 24px;
}
